*{
	margin:0;
	padding:0;
	outline:none;
}
html,
body{
	height: 100%;
}
html {
  min-height: 100%;
}
body {
  height: 100%;
}
body{
	padding: 0px;
    margin: 0px;
    font-family: Raleway, sans-serif;
	box-sizing:border-box;
	letter-spacing: 1px;	
}
#wrapper a:hover, #wrapper a:focus, #wrapper a:active {
    text-decoration: none;
    outline: none;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Light.ttf');
    font-weight: 200;
}
@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Medium.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-SemiBold.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-Bold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway-ExtraBold.ttf');
    font-weight: 900;
}

.clear{
	margin:0px;
	padding:0px;
	clear:both;
}
a,
a:hover{
	text-decoration: none;
}

#wrapper{
	width: 100%;
	display: block;
	margin: 0px;
	position: relative;
}

.header{
	display: block;
	background-color: #f1f1f1;
}

.topnav{
	display: block;
}
.topnav li{
	margin: 0px 6px;
}
.header .topnav li a{
	color: #000;
	font-size: 13px;
	padding: 3px 3px;
	font-weight: 200;
}
.followUs a{
	float: left;
}

#wrapper .logo{
	max-width: 160px;
    padding: 8px 10px;
    height: auto;
    border-radius: 5px;
}
.logo img{
	width: 100%;
}

#wrapper .menubar{
	display: block;
	margin: 0px;
    min-height: inherit;
    z-index: 9;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: transparent;
}
#wrapper .menubar.navbar-fixed-top {
    top: 24px;
}
#wrapper .menubar:hover{
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0,0,0,.05);
}
#wrapper .meffect{
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0,0,0,.05);
}

.header .menubar li a{
	color: #000;
	font-size: 13px;
	line-height: 37px;
	padding: 10px 15px;
}
.header .menubar li a:hover{
	background-color: transparent;
	color: #850072;
}
.header .menubar li a:focus{
	background-color: transparent;
}
.header .menubar .mega-dropdown:hover .dropdown-toggle{
	background-color: #850072;
	color: #fff;
}

#wrapper .rightmenu{
	margin-left: 15px;
}
#wrapper .rightmenu li{
	margin: 0px 10px;
}
#wrapper .rightmenu li a{
    display: table;
    position: relative;
    padding: 9px 0px;
}
#wrapper .rightmenu li a span{
    width: 40px;
    height: 40px;
    padding: 0px;
   /* line-height: 40px;*/
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #000;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
}
#wrapper .rightmenu li a span .fa-user{
    color: #862972;
}
#wrapper .rightmenu a span.cart-count {
    font-size: 10px;
    color: #fff;
    background: #862972;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 0px;
    position: absolute;
    top: 17px;
    right: -5px;
}
#wrapper .rightmenu .dropdown-menu{
    min-width: auto;
    margin: 0px;
    padding: 0px;
}
#wrapper .rightmenu .dropdown li {
    margin: 0px;
}
#wrapper .rightmenu .dropdown li a{
    padding: 9px 10px;
    line-height: normal;
    width: 100%;
    border-bottom: solid 1px #eee;
}
#wrapper .rightmenu .dropdown li a:hover{
    background-color: #862972;
    color: #fff;
}
.menubar li.dropdown:hover > .dropdown-menu {
    display: block;
}

#wrapper .mega-dropdown {
  position: static !important;
}
#wrapper .mega-dropdown-menu {
    padding: 10px 0px;
    background-color: #f7f5fb;
    width: 100%;
    text-align: center;
    border-bottom: none;
    box-shadow: 0px 8px 10px -6px #ababab;
    -webkit-box-shadow: 0px 8px 15px -10px #ababab;
}
.mega-dropdown-menu > li.col-sm-3{
	width: 20%;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
    list-style: none;
    border-bottom: dashed 1px #ebebeb;  
}
#wrapper .mega-dropdown-menu > li > ul > li > a {
    color: #222;
    font-size: 12px;
    padding: 0px 0px;
    line-height: 34px;
    letter-spacing: 0.6px;
}
#wrapper .mega-dropdown-menu > li ul > li > a:hover,
#wrapper .mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #850072;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 15px;
  color: #000;
  padding: 0px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}








.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #f6f6f6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
	-webkit-box-shadow: 5px 0px 15px 5px rgba(131,201,194,0.2);
    -moz-box-shadow: 5px 0px 15px 5px rgba(131,201,194,0.2);
    box-shadow: 5px 0px 15px 5px rgba(131,201,194,0.2);
}
.sidenav a {
    padding: 8px 8px 0px 0px;
    text-decoration: none;
    font-size: 20px;
    color: #333;
    display: block;
    transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus{
    color: #000;
}
.sidenav .closebtn {
    position: absolute;
    top: -7px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidemenu{
	padding: 10px 17%;
	display: block;
	position: relative;
	overflow-x: auto;
}
.sidemenu .hdwel{
	font-size: 24px;
	margin-bottom: 30px;
	font-weight: 200;
}
.sidenav .navbar-nav{
	width: 100%;
	border-bottom: dashed 1px #b159a4;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.sidenav .navbar-nav li{
	width: 100%;
} 
.sidenav .navbar-nav li a{
	width: 100%;
	display: block;
	font-size: 14px;
	padding: 7px 15px;
	text-transform: uppercase;
}
.sidenav .navbar-nav li a:hover{
	color: #000;
}
.sidenav .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#wrapper .nav2 li a{
	text-transform: uppercase;
	font-size: 14px;
	color: #111;
}
#wrapper .nav2 li .fa{
	color: #b159a4;
} 

.follnav li .fa{
	color: #b159a4;
	font-size: 24px;
	transition: all 0.5s;
}
.follnav li .fa:hover{
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}



.sidenav2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #f6f6f6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
	-webkit-box-shadow: 5px 0px 15px 5px rgba(131,201,194,0.2);
    -moz-box-shadow: 5px 0px 15px 5px rgba(131,201,194,0.2);
    box-shadow: 5px 0px 15px 5px rgba(131,201,194,0.2);
}
.sidenav2 a {
    padding: 1px 8px 0px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #333;
    display: block;
    transition: 0.3s
}
.sidenav2 a:hover, .offcanvas a:focus{
    color: #000;
}
.sidenav2 .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav2 {padding-top: 15px;}
  .sidenav2 a {font-size: 18px;}
}



.sidenav3 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #f6f6f6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
	-webkit-box-shadow: 5px 0px 15px 5px rgba(131,201,194,0.2);
    -moz-box-shadow: 5px 0px 15px 5px rgba(131,201,194,0.2);
    box-shadow: 5px 0px 15px 5px rgba(131,201,194,0.2);
}
.sidenav3 a {
    padding: 1px 8px 0px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #333;
    display: block;
    transition: 0.3s
}
.sidenav3 a:hover, .offcanvas a:focus{
    color: #000;
}
.sidenav3 .closebtn {
    position: absolute;
    top: -7px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav3 {padding-top: 15px;}
  .sidenav3 a {font-size: 18px;}
}


.inputserch{
	width: 100%;
	margin: 0px; 
	display: block;
	position: relative;
}
.inputserch .form-control{
	border:none;
	height: 45px;
	padding-right: 45px;
	border-radius: 0px;
	background-color: transparent;
	box-shadow: none;
	border-bottom: solid 2px #addedc;
}
.inputserch .input-group-addon{
	margin: 0px;
	padding: 0px;
	border:none;
	background-color: transparent;
}
.inputserch .input-group-addon .btn{
    width: 55px;
    height: 45px;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    z-index: 99;
    top: 0;
}

.listitem{
	width: 100%;
	margin: 20px 0px 0px;
	display: block;
}
.listitem li{
	width: 100%;
	display: block;
    float: left;
    margin-bottom: 15px;
}
.listitem img{
	width: 55px;
	height: auto;
	margin: 0px 10px 10px 0px;
	float: left;
}
#wrapper .listitem .ttbox p{
    font-size: 13.5px;
    color: #000;
    margin: 0px 0px 3px;
}
#wrapper .listitem .ttbox span{
	color: #000;
	font-size: 13px;
}




.sliderpanel{
	width: 100%;
	height: 100%;
	display: block;
}
.myslider{
	display: block;
	height: 100%;
}
.myslider .item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
}
.myslider .carousel-control {
    position: absolute;
    top: 40%;
/*    left: 15px; */
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 30px;
    font-weight: 100;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #222222;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.myslider .carousel-control.left {
    left: 10px
}
.myslider .carousel-control.right {
    right: 10px
}



.content_wrapper{
	display: block;
	margin: 0px;
	position: relative;
}

.sectionpanel{
	padding: 45px 0px;
	display: block;
	position: relative;
}

.heading{
	color: #333; 
	font-size: 30px;
	font-weight: 500;
	margin: 10px 0px 20px;
	text-align: center;
	text-transform: uppercase;
}

.bestseller{
	display: block;
	position: relative;
}
.listbest{
	display: block;
	text-align: center;
	margin: auto;
}
.listbest .imgbox{
	width: 100%;
	height: 360px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.listbest h4 a{
	color: #444;
	font-size: 20px;
	font-weight: 300;
}
.listbest h4 a:hover{
	text-decoration: none;
	color: #850072;
}

.newarrival{
	display: block;
	position: relative;
	background-color: #f7f5fb;
}
.listnewarr{
	display: block;
	text-align: center;
	margin: auto;
}
.listnewarr .imgbox{
	width: 100%;
	height: 320px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.listnewarr .prodbtm{
	display: block;
}
.listnewarr .prodbtm p{
	color: #444;
	font-size: 14px;
	font-weight: 300;
	margin: 10px 0px;
}
.listnewarr .prodbtm .disct{
	color: #888;
	font-size: 13px;
}
.listnewarr .prodbtm .price{
	color: #333;
	font-size: 15px;
	font-weight: 400;
	margin-left: 5px;
}
.listnewarr h4 a:hover{
	text-decoration: none;
	color: #850072;
}

#wrapper .buynow{
	color: #850072;
	padding: 5px 17px;
	font-size: 14px; 
	background-color: transparent; 
	border: solid 1px #850072;
	margin-top: 10px;
}
#wrapper .buynow:hover{
    color: #fff;
    background-color: #850072;
    border-color: #700060;
}


#wrapper .btn-pink {
    color: #fff;
    background-color: #850072;
    border-color: #700060;
}
#wrapper .btn-pink:hover, 
#wrapper .btn-pink:focus {
    color: #fff;
    background-color: #700060;
    border-color: #700060;
}




.listnewarr .owl-nav{
	display: block !important;
} 

.owl-carousel {
	margin: 0;
}

.owl-carousel .owl-nav [class*=owl-] {
	background: rgba(0, 0, 0, 0.3);
	color: rgba(255, 255, 255, 0.9);
	font-size: 12px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	top: 33%;
}

.owl-carousel .owl-nav [class*=owl-]:hover {
	background: rgba(0, 0, 0, 0.9);
	color: #FFF;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
	position: absolute;
	top: 10px;
	height: 30px;
	margin: auto !important;
}
.listnewarr .owl-prev {
	left:-24px;
}
.listnewarr .owl-next {
	right:-24px;
}

.owl-carousel .owl-dots {
	display: none !important;
}






.itemprod{
    display: block;
    text-align: center;
    margin: auto;
}
.itemprod .imgbox{
    width: 100%;
    height: 360px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.itemprod .prodbtm{
    display: block;
}
.itemprod .prodbtm p{
    color: #444;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0px;
}
.itemprod .prodbtm .disct{
    color: #888;
    font-size: 13px;
}
.itemprod .prodbtm .price{
    color: #333;
    font-size: 15px;
    font-weight: 400;
    margin-left: 5px;
}
.itemprod h4 a:hover{
    text-decoration: none;
    color: #850072;
}
.itemprod .owl-nav{
    display: block !important;
} 
.itemprod .owl-prev {
    left:-24px;
}
.itemprod .owl-next {
    right:-24px;
}




.trendspanel{
	display: block;
	background-color: #eee;
}
.trendspanel .allcat{
    width: 160px;
    float: right;
    margin-top: -58px;
    border-radius: 0px;
}
.trendlist{
	display: block;
	text-align: center;
	margin: auto;
}
.trendlist .imgbox{
	width: 100%;
	height: 360px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.trendlist .prodbtm{
	display: block;
	background-color: #fff;
	padding: 10px 5px;
}
.trendlist .prodbtm p{
	color: #444;
	font-size: 15px;
	font-weight: 300;
}
.trendlist .prodbtm .disct{
	color: #888;
	font-size: 13px;
}
.trendlist .prodbtm .price{
	color: #333;
	font-size: 15px;
	font-weight: 400;
	margin-left: 5px;
}
.trendlist h4 a:hover{
	text-decoration: none;
	color: #850072;
}
.trendlist .owl-nav{
	display: block !important;
} 
.trendlist .owl-nav [class*=owl-] {
	background: rgba(0, 0, 0, 0.2);
	color: rgba(255, 255, 255, 0.9);
	font-size: 12px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	top: -55px;
}
.owl-carousel .owl-nav [class*=owl-]:hover {
	background: rgba(0, 0, 0, 0.9);
	color: #FFF;
}
.owl-carousel .owl-prev,
.owl-carousel .owl-next {
	position: absolute;
	top: 10px;
	height: 30px;
	margin: auto !important;
}
.trendlist .owl-prev {
	left:0;
}
.trendlist .owl-next {
	left:55px;
}


.aboutpanel{
	display: block;
	text-align: center;
}
.aboutpanel p{
	font-size: 17px;
	color: #666;
	font-weight: 300;
	text-align: center;
	letter-spacing: 0.8px;
}
.aboutpanel .buynow{
	margin: auto;
}



.footersection{
	display: block;
	background-color: #eee;
	padding: 45px 0px 10px;
}
.footersection h4{
	font-size: 17px;
	font-weight: 300;
	color: #111;
	text-transform: uppercase;
}

.listfoot{
	display: block;
	margin-top: 15px;
}
.listfoot li a{
	color: #666;
	font-size: 12px;
	letter-spacing: 0.6px;
	line-height: 30px;
}
.listfoot li a:hover{
	color: #000;
	text-decoration: none;
}
.listfoot li a:before {
content: "\f105";
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
text-decoration: inherit;
color: #666;
font-size: 12px;
padding-right: 0.5em;
}

.listint li a:before{
	display: none;
}

.footlogo{
	max-width: 140px;
}

.footerbottom{
	display: block;
	text-align: center;
	margin-top: 15px;
}
.footerbottom img{
	max-width: 260px;
	margin-bottom: 10px;
}
.footerbottom small{
	font-size: 10px;
	color: #666;
}



.scrollToTop {
    width: 37px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: rgba(0,0,0, 0.3);
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    position: fixed;
    bottom: 75px;
    right: 20px;
    display: none;
    z-index: 999;
}
.scrollToTop:hover{
	color: #fff;
	background-color: #000;
}






.innerbanner{
	display: block;
	position: relative;
}
.innerbanner img{
	width: 100%;
    padding: 20px 0px;
}
.innerbanner .banner-content {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.innerbanner .banner-content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 700;
}



.listing_page{
	display: block;
}
#wrapper .filter_panel{
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    display: inline-block;
    vertical-align: top;
    z-index: 4;
    padding: 0px;
}
.filter_panel .widget-box {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.filter_panel .widget-box h4 {
    text-transform: uppercase;
    margin: 0 0 20px;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
}
.filter_panel .widget-box a {
    display: block;
    color: #333;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
	color: #333;
	letter-spacing: 0.6px;
}
.filter_panel .widget-box a:hover {
	text-decoration: none;
	color: #850072;
}
.filter_panel .widget-box ul {
	margin: 10px 0px 0px;
}
.filter_panel .widget-box li label {
	font-size: 13px;
	font-weight: 600;
	color: #000;
	letter-spacing: 0.6px;
}
.filter_panel .widget-box li input {
	margin-right: 4px;
}
.filter_panel .widget-box li label:hover {
	text-decoration: none;
	color: #850072;
}
.filter_panel .color-box li{
	float: left;
	margin: 0px 5px 5px 0px;
}
.filter_panel .color-box label {
    width: 40px;
    height: 26px;
    margin-bottom: 0px;
    display: block;
    border: 1px solid #e5e5e5;
    position: relative;
}
.filter_panel .color-box label span {
    display: block;
    width: 13px;
    height: 10px;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: -5px;
}

.test + .tooltip > .tooltip-inner {
  background-color: #ccc; 
  color: #111; 
  border: 1px solid #ccc; 
  padding: 5px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.rangeslider {
    position: relative;
    margin: 0px 0px 15px;
    z-index: 1;
}
.rangeslider .lep {
    top: -20px;
    position: absolute;
    font-weight: 500;
    color: #850072;
}
.rangeslider .rip {
    top: -20px;
    right: 0;
    position: absolute;
    font-weight: 500;
    color: #850072;
}

.rangeslider .tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #850072;
}
.rangeslider .tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #850072;
    border-radius: 0px;
}
.rangeslider b{
	font-size: 14px;
	font-weight: 400;
	margin-top: 5px;
	display: block;
}



.product_panel p {
    color: #ababab;
    float: left;
    line-height: 34px;
    margin: 5px 0px;
}

#wrapper .fix-top{
    position: -webkit-sticky;
    position: sticky;
    top: 83px;
    display: inline-block;
    vertical-align: top;
    z-index: 9;
    background-color: rgba(255,255,255, 0.95);
}
.products-per-page {
    float: right;
    width: auto;
    margin-bottom: 0;
    margin-left: 15px;
    width: 190px;
    margin-top: 5px;
}
.products-per-page select.form-control {
    border: 1px solid #e5e5e5;
    text-transform: uppercase;
    font-size: 12px;
    padding-right: 20px;
}
.products-per-page select.form-control option {
    height: 40px;
    padding: 10px;
}







.product_panel{
	display: block;
	position: relative;
}
.prod_list{
    display: inline-block;
    padding: 10px 0px;
    position: relative;
}
#wrapper .prod_list li{
	padding: 0px 1px;
}
#wrapper .product-main-box {
	padding: 0px 0px 15px !important; 
    margin: 0px 2px 10px;
    border: none;
    background: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    border: none;
}
.product-main-box .wishlist-btn-icon {
    position: absolute;
    height: 34px;
    line-height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    top: 0px;
    right: 0px;
    z-index: 7;
    background-color: transparent;
    color: #c2c2c2;
    padding: 0px;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    font-size: 22px;
}
.product-main-box a {
    display: block;
    max-height: 364px;
}
.product-main-box a:hover,
.product-main-box a:focus  {
	text-decoration: none;
}
.product-main-box a .panel-body {
    position: relative;
    padding: 0px;
    height: 289px;
    overflow: hidden;
    text-align: center;
    margin:auto;
}
.product-main-box a .panel-body img {
    width: 100%;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.product-main-box .panel-footer{
	background-color: transparent;
    padding: 5px 5px 8px 5px;
    border: none;
}
.product-main-box a h3 {
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    line-height: 16px;
    margin-bottom: 5px;
    margin-top: 0px;
    text-align: center;
}
.product-main-box a .price {
    text-align: center;
    font-size: 14px;
    color: #5d5d5d;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 5px;
}
.product-main-box a .price .sale-price {
    color: #000;
    margin-left: 5px;
}
.product-main-box .size-view {
    opacity: 0;
    font-size: 12px;
    margin-top: 5px;
    position: relative;
    left: 10px;
    bottom: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: auto;
    text-align: center;
}
.product-main-box:hover .size-view {
	opacity: 1;
}
.product-main-box .size-view span {
    padding: 0px 5px;
}
.product-main-box:hover {
    -moz-box-shadow: 2px 2px 15px 5px #dbdbdb;
    -webkit-box-shadow: 0px 0px 5px 1px #dbdbdb;
    box-shadow: 2px 2px 15px 2px #dbdbdb;
}



.detail_page{
    display: block;
    position: relative;
    background-color: #fff;
    padding-top: 100px;    
}
.prod_detail{
    display: block;
}
.detail_content{
    display: block;
}
.prod_title{
    text-transform: uppercase;
    font-size: 18px;
    color: #333;
    font-weight: 700;
    margin-bottom: 15px;
}
.detail_content .tab-content{
    padding: 10px;
    border: solid 1px #ddd;
    border-top: none;
}
.detail_content .nav-tabs>li>a{
    border: none;
    color: #333;
    font-size: 14px;
}
.detail_content .nav-tabs>li.active>a, 
.detail_content .nav-tabs>li.active>a:focus, 
.detail_content .nav-tabs>li.active>a:hover {
    color: #8a2d76;
}
.detail_content .price {
    font-size: 14px;
    padding:10px 10px 5px;
    color: #333;
    width: 100%;
}
.detail_content .price .regular-price {
    color: #888;
    font-weight: 200;
    font-size: 17px;
    margin-left: 5px;
}
.detail_content .price .sale-price {
    color: #111;
    font-size: 20px;
    font-weight: 700;
    margin-left: 5px;
}
.webox{
    display: block;
    margin: 0px 0px;
    padding: 10px 0px;
    border-bottom: dashed 1px #ddd;
}
.webox .htt{
    font-size: 15px;
    font-weight: 500;
    color: #333;
}
.detail_content .size_get{
    display: inline-block;
    margin-bottom: 0px;
}
.detail_content .size_get li{
    width: 55px;
    float: left;
    margin-right: 1px;
}
.detail_content .size_get li a:hover,
.detail_content .size_get li.active a {
    background: #8a2d76;
    color: #fff;
    text-decoration: none;
}
.detail_content .size_get li a{
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    display: block;
    width: 100%;
    height: 34px;
    line-height: 34px;
    background: #fff;
    border: solid 1px #8a2d76;
}
.detail_content .color_get{
    display: inline-block;
    margin-bottom: 0px;
}
.detail_content .color_get li{
    width: 55px;
    float: left;
    margin-right: 1px;
}
.detail_content .color_get li a:hover,
.detail_content .color_get li.active a {
    background: #8a2d76;
    color: #fff;
    text-decoration: none;
    border: solid 3px #111;
}
.detail_content .color_get li a{
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    display: block;
    width: 100%;
    height: 34px;
    line-height: 34px;
    border: solid 3px transparent;
}

.quantity-btn {
    position: relative;
    display: inline-block;
    max-width: 130px;
}
.quantity-btn .minus { left:0px; left: 2px; border-right: 1px solid #fff !important; }
.quantity-btn .plus {
    border-left: 1px solid #fff !important;
}
.quantity-btn .minus, 
.quantity-btn .plus {
    width: 38px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 1px;
    line-height: normal;
    padding: 0;
    border: 0;
    color: #333;
    font-family: "Montserrat";
    font-size: 14px;
    border-radius: 0px;
    background-color: #eee;
    font-weight: 400;
}
#wrapper .qty-form-control {
    border-radius: 0px;
    padding: 10px 35px;
    height: 52px;
    text-align: center;
    background-color: transparent;
    font-weight: 600;
    width: 100%;
    border: 1px solid #fff !important;
}
.myCartbtn{
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    outline: 0;
    text-transform: uppercase;
    margin-top: 0;
    padding: 15px 20px;
    background: #d45185;
}
.myCartbtn:hover,
.myCartbtn:focus{
    color: #fff;
    text-decoration: none;
    background-color: #3b4d7f;
}
.myCartbtn .fa{
}
.custom{
    font-size: 17px;
    font-weight: 400;
    color: #333;
    text-align: center;
    outline: 0;
    text-transform: uppercase;
    margin-top: 0;
    padding: 15px 30px;
    background: #eee;
    cursor: pointer;
}
.custom:hover,
.custom:focus{
    color: #fff;
    text-decoration: none;
    border: 1px solid #607d8b;
    background: #3b535f;
}
.costumSt{
    display: block;
    margin-top: 15px;
}
.cusbox li{
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
}
.cusbox li a{
    border:solid 3px #eee;
    display: block;
}
.cusbox li img{
    width: 100%;
    max-width: 100px;
}
.cusbox li.active a,
.cusbox li a:hover{
    border:solid 3px #111;
} 
.size-content-close {
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
}




.pad_100 {
    padding-top: 90px;
}


.all_pages{
    display: block;
}

.breadcrumb-header {
    padding: 15px 0px !important;
    border-bottom: 1px solid #e5e5e5;
}
.bloom-breadcrumb .breadcrumb {
    background: none;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
.bloom-breadcrumb .breadcrumb li {
    text-transform: capitalize;
}
.bloom-breadcrumb .breadcrumb li a {
    color: #ababab;
}
.bloom-breadcrumb .breadcrumb li.active {
    color: #5d5d5d;
    font-weight: 400;
}

.col-title {
    text-transform: uppercase;
    font-size: 22px;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
}

#wrapper .form-group label {
    font-weight: 400;
    color: #333;
}
#wrapper .login_form .form-control {
    border-radius: 0px;
    height: 40px;
    border: 1px solid #e5e5e5;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    box-shadow: none;
}
.login_form .btn:hover{
 color: #fff;
}
#wrapper .my-btn {
    background: #862972;
    color: #fff;
    border-radius: 0px;
    padding: 8px 20px;
}
.or-sign {
    background: #e5e5e5;
    line-height: 2px;
    margin: 30px 0 30px;
}
.or-sign span {
    background: #fff;
    text-transform: capitalize;
    padding: 12px 5px 0;
    position: relative;
    top: 0;
}

.login_form .btn-group {
    width: 100%;
}
.login_form .btn-group .btn {
    text-transform: uppercase;
    text-align: center;
    padding: 0px;
    line-height: 40px !important;
    height: 40px !important;
    font-size: 11px;
    border-radius: 0px;
    font-weight: 600;
}
.login_form .btn-group .btn {
    width: 50%;
    font-size: 14px;
    height: 40px;
    padding: 0px;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    border-radius: 0px;
}
.login_form .btn-group .btn-facebook {
    background: #3856a0;
}
.login_form .btn-group .btn-google {
    background: #dd4330;
}



.cartSection{
    display: block;
    background-color: #f1f3f6;
    padding-top: 20px;
}
.cartview{  
    width: 100%;
    display: inline-block;
    background-color: #fff;
    margin: 0 18px 16px 0;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
}
.toptitle{
    border-bottom: 1px solid #f0f0f0;
    padding: 16px 31px 0 25px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 47px;
}
.toptitle.active{
    background-color: #3f51b5;
    color: #fff;
}
.toptitle.active .tit{
    color: #fff;
}
.toptitle .tit{
    text-transform: uppercase;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
}

.cartlist{
    display: block;
    margin: 0px;
}
.cartlist li{
    width: 100%;
    padding: 15px 7px;
    display: inline-block;
    border-top: 1px solid #f0f0f0;    
}
.cartlist li:nth-child(1){
    border-top: none;
}
.cartlist .imgbox{
    width: 160px;
    height: 150px;
    text-align: center;
    margin: auto;
    position: relative;
}
.cartlist .imgbox img{
    width: auto;
    height: 100%;
    margin: auto;
}
.cartlist .ht{
    font-size: 15px;
    color: #212121;
    line-height: 1;
    display: inline;    
}
.cartlist .wt{
    display: block;
    color: #878787;
    font-size: 12px;
    margin-top: 5px;
}
.cartlist .price{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin-right: 25px;
    line-height: 1;
}
.cartlist .plus, 
.cartlist .minus{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    font-size: 12px;
} 
#wrapper .cartlist .qty-form-control{
    height: 35px;
    padding-left: 47px;
    box-shadow: none;
}
.cartlist .dli{
    display: block;
    color: #388e3c;
    font-size: 12px;
    margin-top: 5px;
}
.cartlist .remove{
    color: #333;
    margin-top: 10px;
    text-transform: uppercase;
    display: block;
    font-size: 13px;
}
.cartlist .remove:hover{
    color: #ce1f3e;
    text-decoration: none;
}


#wrapper .DivFixed{
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    display: inline-block;
    vertical-align: top;
    z-index: 4;
    padding: 0px;  
}
.priceview{
    width: 100%;
    display: inline-block;
    background-color: #fff;
    margin: 0 18px 16px 0;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
}
.priceview .tit{
    color: #878787;
    font-size: 13px;
    font-weight: 400;
}
.pricelist{
    border-bottom: 1px solid #f0f0f0;
    padding: 0 24px;
    font-size: 14px;
}
.pricelist .tp{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 20px 0;
    color: #222;    
}
.green{
    color: #388e3c;
    font-weight: 500;
}
.pricelist .tmount{
    border-top: 1px dashed #e0e0e0;
    margin-bottom: 20px;
    color: #111;    
    font-size: 16px;
    font-weight: 600;
    padding: 20px 0;
    margin: 20px 0;
}

.safeDiv{
    margin: 34px 24px 10px 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.safeDiv img{
    width: 29px;
    height: 36px;
    margin-right: 20px;
}
.safeDiv span{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    color: #878787;
}


.continue{
    padding: 16px 23px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background: #fff;
    border-top: 1px solid #f0f0f0;
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .1);
}    
#wrapper .btnNext{
    padding: 10px 30px;
    min-width: 200px;
    border-radius: 2px;
    font-size: 15px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-left: 10px;
}


.checkoutlist{
    display: block;
}
.checkoutlist .panel-heading{
    border-bottom: 1px solid #f0f0f0;
    padding: 16px 31px 0 25px;
    font-size: 16px;
    font-weight: 500;    
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 47px;
}
.checkoutlist .panel-heading .sT{
    text-transform: uppercase;
    color: #878787;
    font-size: 16px;
    font-weight: 500;
    border-radius: 2px 2px 0 0;    
}
.checkoutlist .panel-heading:hover .sT,
.checkoutlist .panel-heading .sT:focus{
    text-decoration: none;
}
.checkoutlist .panel-heading .sN{
    font-size: 12px;
    color: #2874f0;
    background-color: #f0f0f0;
    border-radius: 2px;
    padding: 3px 7px;
    vertical-align: baseline;
    margin-right: 10px;
}
.checkoutlist .lT{
    display: block;
    margin-bottom: 7px;
    color: #666;
    font-weight: 500;
}
.checkoutlist .lT span{
    color:#222;
}
.checkoutlist .active{
    background-color: #3f51b5;
}
.checkoutlist .active .sT{
    color: #fff;
}
.checkoutlist .panel-body{
    padding: 20px 40px;
}
#wrapper .checkoutlist .btnNext{
    margin-left: 0px;
    margin: 15px 0px;
}
.checkoutlist .note{
    font-size: 13px;
    color: #888;
}

.addForm{
    display: block;
    position: relative;
}
.addForm .form-control{
    width: 100%;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    outline: none;
    border-radius: 2px;
    padding: 20px 16px 0 13px;
    box-shadow: none;
    height: 57px;
    color: #111;
    font-weight: 500;
}
#wrapper .addForm label{
    position: absolute;
    top: 0;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    padding: 7px 13px 0px;
    font-size: 12px;
    color: #878787;
    pointer-events: none;
    width: 100%;
}


.cartEmpty{
    text-align: center;
    padding: 25px;
}


.pymt{
    display: block;
}
.pymt .radio{
    margin-bottom: 20px;
}
.pymt .radio label{
    min-width: 250px;
    padding:20px;
    border:solid 1px #eee;
    border-radius: 20px;
    background-color: #f6f6f6;
    font-weight: 600;
}
#wrapper .pymt .cr{
    margin-right: 15px;
}

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}



.myaccount{
    display: block;
}
.myaccount .umt.toptitle{
    width: 100%;
    padding: 14px 13px;
    display: flow-root;
    -webkit-display: flow-root;
    border:none;
}
#wrapper .myaccount .toptitle.active{
    background-color: #eee;
    color: #862972;
}
#wrapper .myaccount .toptitle.active a{
    color: #862972;
}

.myaccount .toptitle img{
    float: left;
    margin-right: 15px;
}
.myaccount .toptitle .mtt{
    float: left;
    font-weight: 600;
    font-size: 14px;
    margin-top: 7px;
}
.myaccount .toptitle .mtt span{
    display: block;
    font-weight: 400;
    font-size: 12px;
}
.myaccount .mNav{
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    color: #888;
    padding: 0px 0px 15px;
}
.myaccount .mNav .fa{
    float: right;
    font-size: 12px;
    margin-top: 5px;
}
.myaccount a.mNav:hover{
    color: #862972;
    text-decoration: none;
}
.myaccount .list{
    display: block;
}
.myaccount .list a{
    padding: 10px 10px 10px 62px;
    font-weight: 500;
    color: #444;
    display: block;
}
.myaccount .list li.active a{
    color: #862972;
    background-color: #f6f6f6;
}
.myaccount .list a:hover{
    color: #862972;
}
.myaccount .addForm{
    padding: 20px 0px;
}

.inh{
    margin: 20px 10px;
    color: #666;
    font-weight: 400;
    font-size: 15px;
}
.listinfo{
    display: block;
}
.listinfo li{
    width: 100%;
    float: left;
    display: block;
    color: #333;
    padding: 5px 10px;
}
.listinfo .ltw{
    width: 35%;
    color: #666;
    float: left;
    font-size: 13px;
}
.listinfo .rtw{
    width: 65%;
    float: left;
}















